body,
h1,
h2,
p,
ul,
li {
  margin: 0px;
  padding: 0;
}

body,
input,
button {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}
.superinfo-bg {
  background: #122ab2;
  color: white;
}
.superinfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
  font-weight: 700;
}
.superinfo p,
.menu div,
.menu nav {
  margin: 0 10px 10px 10px;
}
.superinfo a,
.menu a {
  color: white;
}
button {
  cursor: pointer;
}

/* Menu */

.menu-bg {
  background: #2c70ff;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
}

.menu-logo a {
  font-size: 2.25em; /* 36 / 16 (base) */
  font-weight: bold;
}
.menu-top ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menu-top a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
  transition-property: background;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  border-radius: 5px;
}

.menu-top a:hover {
  background: #122ab2;
  border-radius: 5px;
}

/* Introducao */

.introducao {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 3em;
  line-height: 1;
  padding: 60px 10px;
}

/* Sobre */

.sobre {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  border-top: 2px solid #122ab2;
  border-bottom: 2px solid #122ab2;
}

.sobre-info {
  flex: 2;
  /* flex-shrink: 1; */
  flex-basis: 300px;
  margin: 0 10px;
}
.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.sobre-info p {
  font-size: 1.25em;
  line-height: 1.5;
  margin-bottom: 1em;
  color: #7c7c7c;
}
.sobre-img {
  flex: 1;
  /* flex-shrink: 1; */
  flex-basis: 160px;
  margin: 0 10px;
}

/* Produtos */

.produtos {
  max-width: 1200px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.produtos-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 175px;
  margin: 10px;
}
.produtos-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}
.pink {
  border-top: 8px solid #f9265e;
}
.blue {
  border-top: 8px solid #66d9eb;
}

/* PRECO */
.preco {
  background: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.preco-item {
  flex: 1 1 260px;
  border: 4px solid white;
  padding: 20px;
  margin: 10px;
}

.preco-item h2 {
  font-size: 3em;
  text-align: center;
  color: #a4a4a4;
  margin-top: 20px;
}
.preco-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 5px 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
.preco-item sup {
  font-size: 1.5rem;
}

.preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  line-height: 1;
  text-align: center;
  font-style: italic;
  color: #7c7c7c;
}
.preco-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.preco-item li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}

.preco-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 0;
  text-align: center;
}
@media (max-width: 800px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }

  .preco .preco-item:nth-child(3) {
    order: -2;
  }
  .preco .preco-item:nth-child(2) {
    order: -1;
  }
}

/* PRECO */

.qualidade {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.qualidade-item {
  flex: 1 1 400px;
}
.qualidade-item h2 {
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.qualidade-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
  /* background: blue; */
}

.qualidade-item:nth-of-type(3n + 1) h2::before {
  background: #ae81ff;
}
.qualidade-item:nth-of-type(3n + 2) h2::before {
  background: #f9265e;
}
.qualidade-item:nth-of-type(3n + 3) h2::before {
  background: #66d9eb;
}

.qualidade-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

/* Newsletter */
.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 1200px) / 2); /* alinhamento em margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info {
  flex: 1 1 260px;
  margin: 0 10px;
}
.newsletter-info h1 {
  font-size: 3em;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}
.newsletter-form input {
  flex: 3 1 200px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 15px 10px;
  border-radius: 0;
}

.newsletter-form button {
  flex: 1 1 200px;
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  background: #2c70ff;
  border: 0;
  color: white;
  margin: 0;
  cursor: pointer;
  padding: 15px 10px;
}

@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5em;
  }
}

/* Footer */
footer {
  display: flex;
  height: 200px;
  background: #2c70ff;
  align-items: center;
}

footer p {
  flex: 1;
  text-align: center;
  font-size: 2.25em;
  color: #122ab2;
}
